svg {
  overflow:visible;
  shape-rendering:geometricPrecision;
}

.works-per-year {
  stroke-width:0;
  fill:rgba(#984ea3, 0.9);
}

.path {
  stroke:rgba(rgb(7, 134, 151), 0.12);
  stroke-width:1px;
}

svg.selected .path {
  stroke:rgba(rgb(7, 134, 151), 0.8);
}