svg {
  overflow:visible;
  shape-rendering:geometricPrecision;
}

.works-per-year {
  stroke-width:0;
  fill:rgba(#8e0da1, 0.8);
}

.path {
  stroke:rgba(rgb(21, 41, 97), 0.2);
  stroke-width:1px;
}

svg.selected .path {
  stroke:rgba(rgb(21, 41, 97), 0.8);
}